<!DOCTYPE html>
<html lang="en">
    <head>
        {% stylesheets '@MusicBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <title>Regulation XVII {% block title %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="HandheldFriendly" content="true" />
    </head>
    <body>
        <div class="container-fluid">
            <!-- Desktop menu -->
            <div class="row header header-desktop visible-md visible-lg">
                <div class="col-xs-3 header-logo">
                    <a href="{{ path('music_homepage') }}">
                        <img class="header-logo" src="{{ asset('bundles/music/images/logo.png') }}" />
                    </a>
                </div>
                <div class="col-xs-6 header-title">
                    REGULATION XVII
                </div>
                <nav>
                    <ul class="list-inline col-xs-3 header-nav">
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="{{ path('fos_user_security_login') }}">login</a></li>
                            <li>|</li>
                            <li><a href="{{ path('fos_user_registration_register') }}">register</a></li>
                        {% else %}
                            <li>
                                <a href="#" onclick="return false;">
                                    {{ app.user.username }}
                                    <img class="menu-icon" src="{{ asset('bundles/music/images/menu.png') }}" />
                                </a>
                                <ul class="fallback">
                                    <li><a href="{{ path('fos_user_profile_edit') }}"><img style="width:16px;height:16px;" src="{{ asset('bundles/music/images/profile.png') }}" /> update profile</a></li>
                                    <li><a href="{{ path('user_orders') }}"><img style="width:16px;height:16px;" src="{{ asset('bundles/music/images/downloads.png') }}" /> orders</a></li>
                                </ul>
                            </li>
                            <li>|</li>
                            <li><a href="{{ path('fos_user_security_logout') }}">logout</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <!-- Mobile menu -->
            <div class="row header header-mobile hidden-md hidden-lg">
                <div class="col-xs-6 header-logo">
                    <a href="{{ path('music_homepage') }}">
                        <img class="header-logo" src="{{ asset('bundles/music/images/logo.png') }}" />
                    </a>
                </div>
                <div class="col-xs-6 header-nav">
                    <a id="mobile-menu-icon" href="#">
                        <img src="{{ asset('bundles/music/images/menu.png') }}" />
                    </a>
                </div>
                <div id="mobile-menu">
                    <ul>
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="{{ path('fos_user_security_login') }}">login</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">register</a></li>
                        {% else %}
                            <li>
                                <a href="#" onclick="return false;">
                                    {{ app.user.username }}
                                    <img class="menu-icon" src="{{ asset('bundles/music/images/menu.png') }}" />
                                </a>
                                <ul class="fallback">
                                    <li><img src="{{ asset('bundles/music/images/profile.png') }}" /> <a href="{{ path('fos_user_profile_edit') }}">Update profile</a></li>
                                    <li><img src="{{ asset('bundles/music/images/downloads.png') }}" /> <a href="{{ path('user_orders') }}">Orders &amp; downloads</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ path('fos_user_security_logout') }}">logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="background">
                <div class="row nav visible-md visible-lg">
                    <ul class="row list-inline">
                        {% set route = app.request.attributes.get('_route') %}
                       <li><a class="nav-link {{ route in ['music_release', 'music_release_item'] ? 'active' : '' }}" href="{{ path('music_release') }}">releases</a></li>
                        <li>|</li>
                        <li><a class="nav-link {{ route in ['music_mix', 'music_mix_item'] ? 'active' : '' }}" href="{{ path('music_mix') }}">mixes</a></li>
                        <li>|</li>
                        <li class="categories">
                            <a class="nav-link {{ route in ['music_news', 'music_news_item', 'music_news_category'] ? 'active' : '' }}" href="{{ path('music_news') }}">news</a>
                            {% render(controller('MusicBundle:Main:newsCategoriesFragment')) %}
                        </li>
                        <li>|</li>
                        <li><a class="nav-link" href="#" id="search-link">search</a></li>
                        <li>|</li>
                        <li><a class="nav-link" href="{{ path('music_about') }}">about</a></li>
                    </ul>
                    <form class="row" id="search-box" style="" action="{{ path('music_homepage') }}" method="get">
                        <input class="col-xs-2" type="text" name="search" value="{{ app.request.query.get('search') }}" />
                        <input class="col-xs-1" type="submit" />
                    </form>
                </div>
                <div class="row body">
                    {% block content %}{% endblock %}
                </div>
                <div class="row pagination-container">
                    {% block pagination %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="row footer navbar-fixed-bottom">
            <div class="col-xs-9">
                &copy; Jack Farrelly, 2015. version {{ version() }}
            </div>
            <div class="col-xs-3 contact">
                <a href="mailto: {{ mailerUser }}">contact</a>
            </div>
        </div>

        {% block javascripts %}
            {% javascripts '@MusicBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block javascript %}{% endblock %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-67566832-1', 'auto');
            ga('send', 'pageview');

        </script>
    </body>
</html>
