{% extends 'MusicBundle:Music:base.html.twig' %}

{% block title %}{{ title is not empty ? ' | ' ~ title : '' }}{% endblock %}

{%block content %}
    {% for item in items %}
        <div class="col-md-4 item-container">
            <div class="item {{ item.background is empty ? 'item-no-background' : '' }}">
                <h3 class="title"><a href="{{ item_path(item) }}">{{ item.title }}</a></h3>
                {% if item.image is not empty %}
                    <a href="{{ item_path(item) }}">
                        <img class="img-responsive" src="{{ upload_path(item.image) | imagine_filter('item') }}" />
                    </a>
                {% endif %}
                {{ item.shortContent }}
                <br clear="both" />
                <div class="item-info">#{{ item.type }}</div>
                {% if app.user and app.user.hasFavourite(item) %}
                    <img class="heart heart-item" src="{{ asset('/bundles/music/images/heart-full.png') }}" />
                {% endif %}
            </div>
            {% if item.background is not empty %}
                <div class="item-background" style="background-image: url({{ upload_path(item.background) }});"></div>
            {% endif %}
        </div>
    {% else %}
        <div class="col-xs-6 single-item">
            No items found.
        </div>
    {% endfor %}
{% endblock %}

{% block pagination %}
    {{ knp_pagination_render(items) }}
{% endblock %}

{% block javascript %}
    <script>
        var rgba;
        $(document).ready(function() {
            if ($('.item').length > 0) {
                rgba = $('.item').css('background-color').replace('rgba(', '').replace(')', '').split(',');

                $('.item').mouseover(function() {
                    $(this).css('background', 'rgba('+rgba[0]+', '+rgba[1]+', '+rgba[2]+', '+(parseFloat(rgba[3]) + 0.2)+')');
                });
                $('.item').mouseout(function() {
                    $(this).css('background', 'rgba('+rgba[0]+', '+rgba[1]+', '+rgba[2]+', '+rgba[3]+')');
                });
            }
        });
    </script>
{% endblock %}