{% extends 'MusicBundle:Music:base.html.twig' %}

{% block title %} | {{ item.title }}{% endblock %}

{%block content %}
    <div class="col-md-9 single-item">
        <h1 class="title">{{ item.title }}</h1>
        <div class="item-content">
            {% if item.image %}
                <a class="fancybox" href="{{ upload_path(item.image) }}"><img class="image" src="{{ upload_path(item.image) | imagine_filter('item') }}" /></a>
            {% endif %}
            {{ item.content|nl2br }}

            <br />

            {% if item.mediaFiles|length > 0 %}
                {{ item.mediaFiles[0].name }}<br />
                <audio src="{{ path('music_play', {id: item.mediaFiles[0].id, token: tokens[item.mediaFiles[0].id].token}) }}" preload="auto"></audio>
            {% endif %}

            <br />

            {% if item.downloadLink and item.mediaFiles|length > 0 %}
                <a href="{{ path('music_download', {id: item.id}) }}">Download mix</a>
            {% else %}
                <span style="color: grey;">Download not available</span>
            {% endif %}
            <br clear="both" />
        </div>
    </div>
    {% include 'MusicBundle:Music:_item_navigation.html.twig' %}
    {% include 'MusicBundle:Music:_disqus.html.twig' %}
{% endblock %}