{% extends 'MusicBundle:Music:base.html.twig' %}

{% block title %} | {{ item.title }}{% endblock %}

{%block content %}
    <div class="col-md-9 single-item">
        <h1 class="title">{{ item.title }}</h1>
        <div class="item-content">
            {% if item.image %}
                <a class="fancybox" href="{{ upload_path(item.image) }}"><img class="image" src="{{ upload_path(item.image) | imagine_filter('item') }}" /></a>
            {% endif %}
            {{ item.content|nl2br }}
        </div>
        <br clear="both" />
        <div class="col-xs-6 category-info">
            {% if item.categories|length > 0 %}
                <br />
                Tagged in:
                {% for category in item.categories %}
                    <a href="{{ path('music_news_category', {slug: category.slug}) }}">{{ category }}</a>{{ category != item.categories.last ? ', ' : '' }}
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-xs-6 author-info">
            {% if item.author %}
                {% set createdAt = item.createdAt|date('jS \\of F, Y') %}
                {% set updatedAt = item.updatedAt|date('jS \\of F, Y') %}
                Published by {{ item.author.username }} on the {{ createdAt }}.
                {% if item.createdAt != item.updatedAt %}
                    <br />Last edited on the {{ updatedAt }}.
                {% endif %}
            {% endif %}
        </div>
        <br clear="both" />
    </div>
    {% include 'MusicBundle:Music:_item_navigation.html.twig' %}
    {% include 'MusicBundle:Music:_disqus.html.twig' %}
{% endblock %}