{% extends '::base.html.twig' %}

{%block content %}
    <div class="col-md-9 single-item">
        <h1 class="title">{{ item.title }}</h1>
        <div class="item-content">
            {% if item.image %}
                <a href="{{ upload_path(item.image) }}"><img src="{{ upload_path(item.image) }}" /></a>
            {% endif %}
            {{ item.content|nl2br }}
        </div>
        <br clear="both" />
        <div class="col-lg-12 author">
            {% if item.author %}
                {% set createdAt = item.createdAt|date('jS \\of F, Y') %}
                {% set updatedAt = item.updatedAt|date('jS \\of F, Y') %}
                Published by {{ item.author.username }} on the {{ createdAt }}.
                {% if item.createdAt != item.updatedAt %}
                    <br />Last edited on the {{ updatedAt }}.
                {% endif %}
            {% endif %}
        </div>
        <br clear="both" />
    </div>
{% endblock %}