{% extends '::base.html.twig' %}

{% block title %} | {{ item.title }}{% endblock %}

{%block content %}
    <div class="col-md-9 single-item centered">
        <h1 class="title">{{ item.title }}</h1>
        <div class="item-content">
            {% if item.image %}
                <a href="{{ upload_path(item.image) }}"><img src="{{ upload_path(item.image) }}" /></a>
            {% endif %}
            {{ item.content|nl2br }}
            <br clear="both" />

            <div class="row">
                <div class="col-sm-8">
                    <h2>Previews</h2>
                    {% for media in item.mediaFiles %}
                        {{ media.name }}<br />
                        <audio src="{{ path('music_play', {id: media.id, token: tokens[media.id].token}) }}" preload="auto"></audio>
                    {% endfor %}
                </div>
                <div class="col-sm-4" style="padding-top: 50px;">
                    12": &pound;7.99<br />
                    <em>Out of stock</em><br /><br />
                    Digital download: &pound;2.95<br />
                    <a href="{{ path('music_download', {id: item.id}) }}">
                        <img src="https://www.paypalobjects.com/en_US/i/btn/x-click-but5.gif" />
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}