{% extends '::base.html.twig' %}

{%block content %}
    <div class="col-md-9 single-item centered">
        <h1 class="title">{{ item.title }}</h1>
        <div class="item-content">
            {% if item.image %}
                <a href="{{ upload_path(item.image) }}"><img src="{{ upload_path(item.image) }}" /></a>
            {% endif %}
            {{ item.content|nl2br }}
            <br clear="both" />

            <h2>Previews</h2>
            {% for media in item.mediaFiles %}
                {{ media.name }}<br />
                <audio src="{{ upload_path(media.path) }}" preload="auto"></audio>
            {% endfor %}
        </div>
    </div>
{% endblock %}