{% extends '::base.html.twig' %}

{% block title %} | {{ item.title }}{% endblock %}

{%block content %}
    <div class="col-md-9 single-item centered">
        <h1 class="title">{{ item.title }}</h1>
        <div class="item-content">
            {% if item.image %}
                <a class="fancybox" href="{{ upload_path(item.image) }}"><img class="image" src="{{ upload_path(item.image) }}" /></a>
            {% endif %}
            {{ item.content|nl2br }}
            <br clear="both" />

            <div class="row">
                <div class="col-sm-8">
                    <h2>Previews</h2>
                    {% for media in item.mediaFiles %}
                        {{ media.name }}<br />
                        <audio src="{{ path('music_play', {id: media.id, token: tokens[media.id].token}) }}" preload="auto"></audio>
                    {% endfor %}
                </div>
                <div class="col-sm-4" style="padding-top: 50px;">
                    {% for variant in item.ReleaseVariants %}
                        {{ variant.type.name }}{% if variant.type.description is not empty %}<sup>[<a href="#" onclick="javascript: return false;" class="js-tooltip" title="{{ variant.type.description }}">?</a>]</sup>{% endif %}:
                        {% if variant.price is null %}
                            Free<br />
                            {% if variant.isAvailable %}
                                <a href="{{ path('music_order', {id: variant.id}) }}">Free purchase</a>
                            {% else %}
                                <em style="color: grey;">Currently unavailable</em>
                            {% endif %}
                        {% else %}
                            &pound;{{ variant.price|number_format(2) }}
                            {% if variant.type.shippingPrice > 0.0 %}
                                (+ &pound;{{ variant.type.shippingPrice|number_format(2) }} postage)
                            {% endif %}
                            <br />
                            {% if variant.isAvailable %}
                                <a href="{{ path('music_order', {id: variant.id}) }}">
                                    <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" alt="PayPal" />
                                </a>
                            {% else %}
                                <em style="color: grey;">Currently unavailable</em>
                            {% endif %}
                            <br />
                        {% endif %}
                        <br /><br />
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}