{% extends 'MusicBundle:Music:base.html.twig' %}

{% block title %} | {{ item.title }}{% endblock %}

{%block content %}
    <div class="col-md-9 single-item">
        <h1 class="title">{{ item.title }}</h1>
        <div class="item-content">
            <div class="image">
                {% if item.videoFile is not null %}
                    {% if item.videoFile.processedPath is not empty %}
                        <video class="video" controls>
                            <source src="{{ path('music_play', {id: item.videoFile.id, token: tokens[item.videoFile.id].token}) }}" type="video/mp4">
                        </video>

                        <br />

                        <div class="row">
                            <div class="col-xs-9">
                                {% if item.audioDownloadLink and item.videoFile.audioPath is not empty %}
                                    <a href="{{ path('music_download', {id: item.id}) }}">Download audio</a>
                                {% else %}
                                    <span style="color: grey;">Audio download not available</span>
                                {% endif %}
                            </div>
                            <div class="col-xs-3" style="text-align: center; font-weight: bold;">
                                <a class="js-expand-video" href="#">+</a>
                            </div>
                        </div>
                    {% else %}
                        <span style="color: grey;">Video is awaiting processing</span>
                    {% endif %}
                    {% include 'MusicBundle:Music:_item_favourite.html.twig' %}
                {% else %}
                    <span style="color: grey;">No video</span>
                    {% include 'MusicBundle:Music:_item_favourite.html.twig' %}
                {% endif %}
            </div>

            {{ item.content|nl2br }}
            <br clear="both" />
        </div>
    </div>
    {% include 'MusicBundle:Music:_disqus.html.twig' %}
{% endblock %}