{% extends 'MusicBundle:Music:base.html.twig' %}

{% block title %} | {{ item.title }}{% endblock %}

{%block content %}
    <div class="col-md-9 single-item">
        <h1 class="title">{{ item.title }}</h1>
        <div class="item-content">
            {% if item.videoFile is not null and item.videoFile.processedPath is not empty %}
                <div class="image">
                    <video width="320" height="240" controls>
                        <source src="{{ path('music_play', {id: item.videoFile.id, token: tokens[item.videoFile.id].token}) }}" type="video/mp4">
                    </video>

                    {% if item.audioDownloadLink and item.videoFile.audioPath is not empty %}
                        <a href="{{ path('music_download', {id: item.id}) }}">Download audio</a>
                    {% else %}
                        <span style="color: grey;">Audio download not available</span>
                    {% endif %}
                </div>
            {% endif %}

            {{ item.content|nl2br }}
            <br clear="both" />
        </div>
    </div>
    {% include 'MusicBundle:Music:_disqus.html.twig' %}
{% endblock %}