{% extends 'MusicBundle:Music:base.html.twig' %}

{% block title %} | {{ item.title }}{% endblock %}

{%block content %}
    <div class="col-md-9 single-item">
        <h1 class="title">{{ item.title }}</h1>
        <div class="item-content">
            {% if item.image %}
                <a class="fancybox" href="{{ upload_path(item.image) }}"><img class="image" src="{{ upload_path(item.image) | imagine_filter('item') }}" /></a>
            {% endif %}
            {{ item.content|nl2br }}

            <br />

            {% if item.videoFile is not null and item.videoFile.processedPath is not empty %}
                <video width="320" height="240" controls>
                    <source src="{{ path('music_play', {id: item.videoFile.id, token: tokens[item.videoFile.id].token}) }}" type="video/mp4">
                </video>
            {% endif %}

            <br />

            {#% if item.downloadLink and item.mediaFiles|length > 0 %}
                <a href="{{ path('music_download', {id: item.id}) }}">Download mix</a>
            {% else %}
                Download not available
            {% endif %#}
            <br clear="both" />
        </div>
    </div>
{% endblock %}