{% extends "MusicBundle:Music:base.html.twig" %}

{% block title %} | Profile{% endblock %}

{% block content %}
    <div class="col-xs-10 col-md-6 fos_user_content centered profile-info">
        <div style="float: right;">
            <label for="show-incomplete">Show incomplete purchases</label> <input id="show-incomplete" type="checkbox" {{ app.request.get('incomplete') == 1 ? 'checked="checked"' : '' }} onchange="window.open(location.protocol + '//' + location.host + location.pathname + '?incomplete=' + (this.checked ? '1' : '0'), '_self');" />
        </div>
        <br clear="both" />
        
        <ul>
            {% for order in orders %}
                <li>
                {% if order.status == 'authorized' %}
                    <a href="{{ path('music_download', {id: order.releaseVariant.mediaItem.id}) }}">
                        <img src="{{ asset('bundles/music/images/download.png') }}" />
                        {{ order.releaseVariant.mediaItem.title }}
                    </a>
                {% else %}
                    <img src="{{ asset('bundles/music/images/download.png') }}" />
                    <span style="color: grey;">
                        {{ order.releaseVariant.mediaItem.title }}
                        ({{ order.status == 'new' ? 'unpaid' : 'payment ' ~ order.status }})
                    </span>
                {% endif %}
                <em style="color: grey;">{{ order.createdAt|date('d/m/Y') }}</em>
                </li>
            {% else %}
                <li>You have no orders to show.</li>
            {% endfor %}
        </ul>
        <div class="order-pagination">
            {{ knp_pagination_render(orders) }}
        </div>
    </div>
{% endblock %}
