<!DOCTYPE html>
<html lang="en">
    <head>
        {% stylesheets '@MusicBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <title>Regulation XVII {% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row header">
                <div class="col-md-3 header-logo">
                    <a href="{{ path('music_homepage') }}">
                        <img class="header-logo" src="{{ asset('bundles/music/images/logo.png') }}" />
                    </a>
                </div>
                <div class="col-md-6 header-title">
                    REGULATION XVII
                </div>
                <nav>
                    <ul class="list-inline col-md-3 header-nav">
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="{{ path('fos_user_security_login') }}">login</a></li>
                            <li>|</li>
                            <li><a href="{{ path('fos_user_registration_register') }}">register</a></li>
                        {% else %}
                            <li>
                                <a href="#" onclick="return false;">
                                    {{ app.user.username }}
                                    <img src="{{ asset('bundles/music/images/menu.png') }}" />
                                </a>
                                <ul class="fallback">
                                    <li><a href="{{ path('fos_user_profile_edit') }}">Update profile</a></li>
                                    <li><a href="{{ path('user_orders') }}">Orders &amp; downloads</a></li>
                                </ul>
                            </li>
                            <li>|</li>
                            <li><a href="{{ path('fos_user_security_logout') }}">logout</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="background">
                <div class="row nav">
                    <div class="row">
                    <ul class="list-inline">
                        {% set route = app.request.attributes.get('_route') %}
                       <li><a {{ route in ['music_release', 'music_release_item'] ? 'class="active"' : '' }} href="{{ path('music_release') }}">releases</a></li>
                        <li>|</li>
                        <li><a {{ route in ['music_mix', 'music_mix_item'] ? 'class="active"' : '' }} href="{{ path('music_mix') }}">mixes</a></li>
                        <li>|</li>
                        <li><a {{ route in ['music_news', 'music_news_item'] ? 'class="active"' : '' }} href="{{ path('music_news') }}">news</a></li>
                        <li>|</li>
                        <li><a href="#" id="search-link">search</a></li>
                        <li>|</li>
                        <li><a href="{{ path('music_about') }}">about</a></li>
                    </ul>
                        </div>
                    <form class="row" id="search-box" style="" action="{{ path('music_homepage') }}" method="get">
                        <input class="col-xs-2" type="text" name="search" value="{{ app.request.query.get('search') }}" />
                        <input class="col-xs-1" type="submit" />
                    </form>
                </div>
                <div class="row body">
                    {% block content %}{% endblock %}
                </div>
                <div class="row pagination-container">
                    {% block pagination %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="row footer navbar-fixed-bottom">
            <div class="col-sm-6">
                &copy; Jack Farrelly
            </div>
            <div class="col-sm-6 contact">
                <a href="mailto: {{ mailerUser }}">Contact</a>
            </div>
        </div>

        {% block javascripts %}
            {% javascripts '@MusicBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block javascript %}{% endblock %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-67566832-1', 'auto');
            ga('send', 'pageview');

        </script>
    </body>
</html>
