<!DOCTYPE html>
<html lang="en">
    <head>
        {% stylesheets '@MusicBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block javascripts %}
            {% javascripts '@MusicBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        <script>
            audiojs.events.ready(function() {
                var as = audiojs.createAll();
            });
        </script>
        <title>Regulation XVII {% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row header">
                <div class="col-xs-3 header-logo">
                    <a href="{{ path('music_homepage') }}">
                        <img class="header-logo" src="{{ asset('bundles/music/images/logo.png') }}" />
                    </a>
                </div>
                <div class="col-xs-6 header-title">
                    REGULATION XVII
                </div>
                <ul class="list-inline col-xs-3 header-nav">
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ path('fos_user_security_login') }}">login</a></li>
                        <li>|</li>
                        <li><a href="{{ path('fos_user_registration_register') }}">register</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_profile_edit') }}">{{ app.user.username }}</a></li>
                        <li>|</li>
                        <li><a href="{{ path('fos_user_security_logout') }}">logout</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="background">
                <div class="row nav">
                    <ul class="list-inline">
                        {% set route = app.request.attributes.get('_route') %}
                        <li><a {{ route in ['music_release', 'music_release_item'] ? 'class="active"' : '' }} href="{{ path('music_release') }}">releases</a></li>
                        <li>|</li>
                        <li><a {{ route in ['music_mix', 'music_mix_item'] ? 'class="active"' : '' }} href="{{ path('music_mix') }}">mixes</a></li>
                        <li>|</li>
                        <li><a {{ route in ['music_news', 'music_news_item'] ? 'class="active"' : '' }} href="{{ path('music_news') }}">news</a></li>
                        <li>|</li>
                        <li><a href="">about</a></li>
                    </ul>
                </div>
                <div class="row body">
                    {% block content %}{% endblock %}
                </div>
                {% block pagination %}{% endblock %}
            </div>
        </div>
        <div class="row footer navbar-fixed-bottom">
            &copy; Jack Farrelly
        </div>
    </body>
</html>
